# Arquivo de exemplo de variáveis de ambiente. Copie para .env e altere os valores.

# Configurações do Banco de Dados
POSTGRES_USER=root
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=stockpulse

# Configurações do Grafana
GRAFANA_PASSWORD=admin
